<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csl.csl_blinddate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".FullScreenImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_full_screen_image"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".Register.MailCertifyActivity"
            android:theme="@style/PopUpTheme" />

        <service
            android:name=".FcmService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".CommonBoardActivity" />
        <activity
            android:name=".BoardViewActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".SchoolListActivity" />
        <activity android:name=".ApplyListActivity" />
        <activity android:name=".ApplyedListActivity" />
        <activity
            android:name=".ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".InFormActivity" />
        <activity android:name=".ListInformActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".BoardWriteActivity" />
        <activity
            android:name=".BoardActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".ListWriteActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="95c38f82b20115cdb69a459bffbfb96a" />
    </application>

</manifest>