<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csl.csl_blinddate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name=".ApplyListActivity"></activity>
        <activity android:name=".ApplyActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".InFormActivity" />
        <activity android:name=".ListInformActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/MaterialTheme" />
        <activity android:name=".BoardWriteActivity" />
        <activity
            android:name=".BoardActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".ListWriteActivity"
            android:theme="@style/MaterialTheme" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="95c38f82b20115cdb69a459bffbfb96a" />
    </application>

</manifest>